<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demoju.mybatissample.mapper.CustomerMapper">
    <insert id="save">
        INSERT INTO CUSTOMER (ID, USER_EMAIL, USERNAME) values (#{id}, #{email}, #{name})
    </insert>

    <select id="findById" resultType="CustomerDto">
        SELECT * FROM CUSTOMER WHERE id = #{id}
    </select>

</mapper>